<div class="flex flex-wrap my-5">
    <div class="w-9/12">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="images/slider-image-1.jpeg" class="h-[300px] object-cover" alt="slider-image-1">
            </ng-template>
            <ng-template carouselSlide>
                <img src="images/slider-image-2.jpeg" class="h-[300px] object-cover" alt="slider-image-1">
            </ng-template>
            <ng-template carouselSlide>
                <img src="images/slider-image-3.jpeg" class="h-[300px] object-cover" alt="slider-image-1">

            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="w-3/12">
        <img src="images/grocery-banner.png" class="h-[150px] object-cover" alt="grocery-banner">
        <img src="images/grocery-banner-2.jpeg" class="h-[150px] object-cover" alt="grocery-banner">
    </div>
</div>