<section>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitForm()" class="max-w-md mx-auto my-5">
        <h2 class="text-3xl text-main">Reset Password</h2>
        <!-- Error -->
        <div class="text-sm text-red-800 text-center rounded-lg dark:bg-gray-800 dark:text-red-400 mt-3 mb-8"
            role="alert">
            {{apiError}}
        </div>
        <!-- Email -->
        <div class="relative z-0 w-full mb-6 group">
            @let emailControll = resetPasswordForm.get('email');
            <input formControlName="email" type="email" name="floating_email" id="floating_email"
                class="input-style peer" placeholder="" required />
            <!-- <app-custom-input formControlName="email" [type]="'email'" [placeholder]="'Email address'" name="floating_email"
            id="floating_email"></app-custom-input> -->
            <label for="floating_email"
                class="label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Email address
            </label>
            <app-error-message [nameControll]="emailControll"></app-error-message>
        </div>
        <!-- Password -->
        <div class="relative z-0 w-full mb-5 group">
            @let passwordControll = resetPasswordForm.get('newPassword');
            <input formControlName="newPassword" [type]="toggleInput? 'password':'text'" name="floating_password"
                id="floating_password" class="input-style peer relative" placeholder="" required />
            <!-- <app-custom-input formControlName="password" [type]="'password'" [placeholder]="'Password'" ></app-custom-input> -->
            <label for="floating_password"
                class="label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                New Password
            </label>
            <span (click)="togglePassword()" class="absolute top-[10%] right-0">
                @if (toggleInput) {
                <i class="fa fa-eye-slash cursor-pointer text-main"></i>
                }@else {
                <i class="fa fa-eye cursor-pointer text-main"></i>
                }
            </span>
            <app-error-message [nameControll]="passwordControll"></app-error-message>

        </div>
        <div class="flex justify-between">
            <a class="text-main hover:underline" routerLink="/auth/login">Login</a>

            <button type="submit" class="button-style" [disabled]="resetPasswordForm.invalid">
                @if (isLoading) {
                <i class="fa fa-spin fa-spinner"></i>
                }@else {
                Submit
                }
            </button>
        </div>
    </form>
</section>