<div class="footer bg-[#f1f3f2]">
    <div class="max-w-screen-xl p-5 sm:px-6 lg:px-8">
        <h2 class="footer__title text-3xl mb-3"> Get The FreshCart App</h2>
        <p class="footer__des mb-6">We will send you a link, open it on your phone to download the app</p>
        <div class="footer__subscription relative mb-5">
            <label class="sr-only" htmlFor="email"> Email </label>
            <input class="w-full rounded-full p-4 text-sm font-medium bg-white" id="email" type="email"
                placeholder="Email" />
            <button
                class="absolute end-1 top-1/2 -translate-y-1/2 rounded-full bg-main px-5 py-3 text-sm font-medium text-white transition hover:bg-green-700">
                Share App Link
            </button>
        </div>
        <div class="footer__payment flex justify-between items-center border-t-[1px] border-gray border-b-[1px]">
            <div class="flex">
                <p>Payment Partners</p>
                <div class="mx-3">
                    <i class="fa-brands fa-cc-paypal fa-2x"></i>
                    <i class="fa-brands fa-amazon-pay mx-5 fa-2x"></i>
                    <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                </div>
            </div>
            <div class="flex items-center gap-x-2">
                <p>Get deliveries with freshCart</p>
                <img src="images/google-play-badge-logo.svg" class="w-32" alt="google">
                <img src="images/app-store-apple-logo.svg" class="w-32" alt="app">
            </div>
        </div>
    </div>
</div>