<div class="mx-auto max-w-screen-xl sm:px-6 sm:py-12 lg:px-2 bg-main-light mt-3">
    <div class="mx-auto p-3">
        <h1 class="text-xl font-bold text-gray-700 sm:text-3xl">Shop Cart</h1>

        @if (userCart.data.products.length > 0) {
        <div class="mt-8">
            <div class='flex items-center gap-4 p-2 border border-t-0 border-r-0 border-l-0  border-b-fuchsia-950'>
                <div>
                    <h4 class='text-main'>Total Cart Items: {{userCart.numOfCartItems}}</h4>
                    <h4 class='text-main'>Total Cart Price: {{userCart.data.totalCartPrice}}</h4>
                </div>
                <div class='flex flex-1 items-center justify-end gap-2'>
                    <button (click)="clear()" class="border border-red-600 px-4 py-2 rounded-2xl
                        text-red-600 transition hover:bg-red-600 hover:text-white cursor-pointer">
                        Clear
                    </button>
                </div>
            </div>
            @for(cart of userCart.data.products;track $index){
            <ul class="space-y-4 mt-3 border border-t-0 border-r-0 border-l-0  border-b-fuchsia-950 p-3">
                <li class="flex items-center gap-4">
                    <img [src]="cart.product.imageCover" [alt]="cart.product.title"
                        class="size-32 rounded-sm object-cover" />
                    <div class="flex flex-col gap-3">
                        <h3 class="text-sm text-gray-900">{{cart.product.title.split(' ').slice(0,
                            3).join(' ')}}
                        </h3>
                        <dl class="mt-0.5 space-y-px text-sm text-gray-600">
                            <div>
                                <dt class="inline me-2">Category:</dt>
                                <dd class="inline">{{cart.product.category.name}}</dd>
                            </div>
                            <div class="text-main">
                                <dt class="inline me-2">Price:</dt>
                                <dd class="inline">{{cart.price}} EGP</dd>
                            </div>
                            <div>
                                <dt class='inline me-2'>Total Price:</dt>
                                <dd class="inline">{{cart.price * cart.count}} EGP</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="flex flex-1 items-center justify-end gap-2">
                        <div class='mx-5'>
                            <a (click)="updateCart(cart.product._id,cart.count-1)" class="inline-block rounded-sm border border-green-600 px-3 py-1 font-medium
                                hover:bg-green-600 hover:text-white cursor-pointer">
                                -
                            </a>
                            <span class='mx-3'>{{cart.count}}</span>
                            <a (click)="updateCart(cart.product._id,cart.count+1)" class="inline-block rounded-sm border border-green-600 px-3 py-1 font-medium
                                hover:bg-green-600 hover:text-white cursor-pointer">
                                +
                            </a>
                        </div>
                        <button (click)="rmoveItem(cart.product._id)" class="text-gray-600 transition
                            hover:text-red-600 cursor-pointer">
                            Remove
                            <i class="fa-solid fa-trash-can mx-2"></i>
                        </button>
                    </div>
                </li>
            </ul>
            }

            <a class='inline-block mt-3 float-right' [routerLink]="['/checkout',userCart.cartId]" routerLinkActive="router-link-active" >
                <span
                    class="border bg-main text-white hover:bg-white hover:text-green-600 font-medium cursor-pointer px-3 py-2 rounded-md">ِCheckout</span>
            </a>
        </div>
        }@else {
        <div class='flex justify-center items-center p-10'>
            <h2 class="text-4xl">No products in your cart</h2>
        </div>
        }
    </div>
</div>